<section>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 lg:gap-0">
        <div class="w-full">
            <img src="/meta-1.webp" class="w-full">
        </div>
        <div class="pb-4 bg-red-600 text-center flex flex-col justify-around lg:col-span-2 px-4 md:px-2">
            <p class="text-white italic lg:mt-4">{{.Site.Params.metaTitle}}</p>
            <p class="text-white text-xl mt-6 font-bold lg:mt-6 lg:text-3xl">{{ .Site.Params.metaSubtitle}}</p>
            <p class="text-white text-xl mb-6 md:mb-4 font-bold lg:text-3xl">{{ .Site.Params.metaSubtitle2}}</p>
            <a href='{{.Site.Params.projects}}' class="bg-white w-1/2 self-center uppercase px-4 py-2 md:py-2 md:px-4 lg:px-14 lg:py-4  transition ease-in-out duration-300 hover:bg-black hover:text-white dark:text-black">{{.Site.Params.projectsButton}}</a>
        </div>
        <div class="hidden lg:block md:block">
            <img src="/meta-2.webp" class="h-full">
        </div>
    </div>
</section>

