<section >
    <div class="px-6 flex flex-col lg:flex-row md:flex-row justify-between container mx-auto my-10">
        <div>
            <h2 class="text-red-600 font-extrabold text-2xl lg:text-4xl md:text-4xl  pt-10 mb-4">{{ .Site.Params.partnersTitle}}</h2>
            <p class="text-xl">{{ .Site.Params.partnersSubtitle}}</p>
        </div>
        <div class="mx-auto py-10 lg:mt-auto md:mt-auto">
            <a href="{{ .Site.Params.partners}}" class="uppercase bg-red-600 text-white px-20 py-4 lg:px-8 lg:py-4 md:px-16 md:py-4 transition ease-in-out duration-300 hover:bg-purple-500">{{.Site.Params.partnersButton}}</a>
        </div>
    </div>
    <div class="bg-white px-0">
        <div class="grid grid-cols-2 gap-2 md:grid-cols-3  lg:grid-cols-5 px-10 container mx-auto ">
            <div class="self-center"><a href="https://hilfe-trier.de/" class="w-full m-auto">
                <img src="/partnersImg/partners_hilfe.webp" class="w-52"></a></div>
            <div class=" self-center"><a href="https://www.instagram.com/bf.vilni/" class="w-full m-auto">
                <img src="/partnersImg/partners_vilni.webp" class="w-52"></a></div>
            <div class=" self-center"><a href="" class=" m-auto">
                <img src="/partnersImg/partners_pastoralen.webp" class="w-52"></a></div>
            <div class=" self-center"><a href="http://www.akomlaengel.de/" class=" m-auto">
                <img src="/partnersImg/partners_acom.webp" class="w-44"></a></div>
            <div class=" self-center"><a href="https://tri-sign.werbeartikel.co/" class="content-center"> 
                <img src="/partnersImg/partners_trisign.webp" class="w-52"></a></div>
            <div class=" self-center"><a href="http://mjctrier.de/" class="m-auto ">
                <img src="/partnersImg/partners_mjc.webp" class="w-52"></a></div>
            <div class=" self-center"><a href="https://tufa-trier.de/" class="m-auto ">
                <img src="/partnersImg/partners_tufa.webp" class="w-52"></a></div>
            <div class="m-auto self-center"><img src="/partnersImg/partners_pro-integr.webp" class="w-52"></div>
            <div class=" self-center"><a href="" class=" m-auto">
                <img src="/partnersImg/partners_netzwerk.webp" class="w-52"></a></div>
                <div class=" self-center"><a href="" class=" m-auto">
                    <img src="/partnersImg/partners_hoffnung.webp" class="w-52"></a></div>
                    <div class=" self-center"><a href="" class=" m-auto">
                        <img src="/partnersImg/partners_mi-e.webp" class="w-52"></a></div>
        </div>
    </div>
</section>
