{{ define "main" }} {{- partial "intro.html" . -}} {{ $frontBundle :=
.Site.Params.frontBundle | default "blog" }}
<div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6">
    {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)
    }} {{- partial "blog-card.html" . -}} {{ end }}
</div>
 {{- partial "calendar.html" . -}} {{ $calendarBundle := .Site.Params.calendarBundle | default "events" }} 
 {{ .Content}} 
 <div>
    {{ range (where .Site.RegularPages.ByDate.Reverse "Type" $calendarBundle)
    }} {{- partial "eventItemMain.html" . -}} {{ end }}
 </div> 
{{- partial "meta-main.html" . -}} 
{{- partial "help-main.html" . -}} {{- partial "partners.html" . -}} {{- partial "social.html" . -}} {{ end }}

